<ion-header>
  <ion-toolbar>
    <ion-title>CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card>
      <ion-card-title class="ion-text-center">Para atendimento à domicílio, valide seu endereço</ion-card-title>
      <ion-row class="ion-justify-content-center">
        <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input [(ngModel)]="cep" (ionBlur)="callAPI()" placeholder="Digite seu CEP"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input [(ngModel)]="endereco" placeholder="Endereço"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-item>
          <ion-label position="floating">Bairro</ion-label>
          <ion-input [(ngModel)]="bairro" placeholder="Bairro"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input [(ngModel)]="cidade" placeholder="Cidade"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-bottom">
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-input [(ngModel)]="estado" placeholder="Estado"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row style="margin-top: 41px;" class="ion-justify-content-center ion-margin-bottom">
        <ion-button style="width: 40vw;">Cadastrar CEP</ion-button>
      </ion-row>
    </ion-card>
  </div>
</ion-content>