ion-content {--overflow: hidden}

ion-input, ion-button{
    margin-top: 20px;
}

ion-card{
    padding: 0px 20px 20px 20px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

ion-card-title{
    font-size: 20px;
}

ion-title{
    font-size: 15px;
}